<app-header [showMenu]="true" title="Inicio"></app-header>

<ion-content>

  <ion-card  *ngFor="let m of multa" (click)="detalleMulta(m.id)">
    <img alt="Silhouette of mountains"[src]="m.image" />
    <ion-card-header>
      <ion-card-title>Cedula: {{m.cedula}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addUpdateMulta()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>