<app-header [showMenu]="true" title="Motivo"></app-header>

<ion-content>
      
  <ion-card *ngFor="let motive of motives">
    <ion-card-header>
      <ion-card-title>{{motive.motivo}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
       <b>Detalle:</b>{{motive.detalle}}
    </ion-card-content>
  </ion-card>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addUpdateMotivo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
